/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #800000;
    color: white;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

.button {
    margin-left: auto;
    order: 1;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

footer {
    background-color: #800000;
    color: white;
    text-align: center;
    padding: 0em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a {
    color: inherit; /* This ensures that hyperlinks inherit the color property from the parent (white in this case) */
}

/* Adjust table size to fit within page boundaries */
//table {
    width: 100%;
    max-width: 100px; /* Limit maximum width for the table */
}

/* Reduce font size for the cells in the second column */
th:nth-child(2),
td:nth-child(2) {
    font-size: smaller;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#searchResults {
  margin-top: 20px; /* Adjust the value as needed to increase or decrease the space */
}
